// Place all the styles related to the maxims controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mainText{
    background-color: white;
    padding: 0.188em 0.625em 0.313em 0.625em;
    margin-top: 1.250em;
    margin-bottom: 1.250em;
    width: 56.250em;
}